
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="banner-bottom py-5">
    <div class="container">
        <h2 class="text-center" style="font-family: 'Times New Roman'; color: #c01d1d">
            Some organizations and programs that the website supports
        </h2>
    </div>
    <div class="container py-md-5">
        <div class="row grids-wthree-info">
            <div class="col-lg-5 bag-img">
                <img src="~/Content/images/caplayeuthuong.png" class="img-fluid center-block" alt="" />
            </div>
            <div class="col-lg-7 text-left mt-2">
                <h3 style="font-family:'Times New Roman'; color: #3a7a1e; font-weight: bold;">Cặp lá yêu thương của VTV 24</h3>
                <p style="font-family:'Times New Roman'; font-size: 15px;">
                    “Cặp lá yêu thương” là dự án thiện nguyện do Trung tâm Sản xuất và Phát triển Nội dung Số (tiền thân là Trung tâm Tin tức VTV24) khởi xướng.
                    Lấy hình ảnh chiếc lá bồ đề - biểu tượng thiêng liêng của Phật giáo làm hình tượng xuyên suốt, “Cặp lá yêu thương” là cầu nối để các nhà hảo tâm hỗ trợ các hoàn cảnh khó khăn vươn lên trong cuộc sống;
                    góp phần lan tỏa tình yêu thương nhân ái trong mỗi cá nhân, mỗi gia đình Việt và xây dựng một xã hội tốt đẹp giàu tính nhân văn.
                </p>
                <a href="http://caplayeuthuong.vtv24.vtv.vn/" class="btn shop mt-4">More Information</a>
            </div>
        </div>
    </div>
    <div class="container py-md-5">
        <div class="row grids-wthree-info">
            <div class="col-lg-5 bag-img">
                <img src="~/Content/images/songfoundation.jpg" class="img-fluid center-block" alt="" />
            </div>
            <div class="col-lg-7 text-left mt-2">
                <h3 style="font-family:'Times New Roman'; color: #3a7a1e; font-weight: bold;">Sống Foundation</h3>
                <p style="font-family: 'Times New Roman'; font-size: 15px;">
                    Quỹ Sống là quỹ xã hội hoạt động không vì lợi nhuận, nhằm mục đích tham gia hỗ trợ người dân vùng bị ảnh hưởng bởi thiên tai và biến đổi khí hậu, 
                    giúp họ có được cuộc sống an toàn, ổn định và phát triển cộng đồng bền vững.
                </p>
                <a href="https://song.org.vn/ve-quy-song/" class="btn shop mt-4">More Information</a>
            </div>
        </div>
    </div>
    <div class="container py-md-5">
        <div class="row grids-wthree-info">
            <div class="col-lg-5 bag-img">
                <img src="~/Content/images/traitimchoem.png" class="img-fluid center-block" alt="" />
            </div>
            <div class="col-lg-7 text-left mt-2">
                <h3 style="font-family:'Times New Roman'; color: #3a7a1e; font-weight: bold;">Trái Tim cho em</h3>
                <p style="font-family:'Times New Roman'; font-size: 15px;">
                    “Trái tim cho em” là chương trình từ thiện nhân đạo do Tập đoàn Công nghiệp - Viễn thông Quân đội (Viettel) và Quỹ Tấm Lòng Việt – Đài Truyền hình Việt Nam phối hợp thực hiện. 
                    Theo đó chương trình thực hiện phẫu thuật tim miễn phí cho trẻ em nghèo dưới 16 tuổi tại Việt Nam; tài trợ nâng cao năng lực khám chữa các bệnh về tim mạch cho hệ thống y tế tại Việt Nam;
                    tổ chức các hoạt động khám sàng lọc bệnh tim bẩm sinh dành cho trẻ em khu vực vùng sâu vùng xa để giúp phát hiện và điều trị kịp thời cho các em nhỏ mắc bệnh tim bẩm sinh.
                </p>
                <a href="http://traitimchoem.vn/page/gioi-thieu" class="btn shop mt-4">More Information</a>
            </div>
        </div>
    </div>
    <div class="container py-md-5">
        <div class="row grids-wthree-info">
            <div class="col-lg-5 bag-img">
                <img src="~/Content/images/tiem-vacxin.jpg" class="img-fluid center-block" alt="" />
            </div>
            <div class="col-lg-7 text-left mt-2">
                <h3 style="font-family:'Times New Roman'; color: #3a7a1e; font-weight: bold;">Quỹ Vaccine phòng Covid-19</h3>
                <p style="font-family:'Times New Roman';font-size: 15px;">
                    Toàn thế giới hiện nay đang nỗ lực chống chọi với đại dịch Covid-19. Trong bối cảnh đó thì ngày 1/6,
                    Thống đốc Ngân hàng Nhà nước Việt Nam Nguyễn Thị Hồng đã ký ban hành văn bản về việc miễn phí chuyển tiền ủng hộ Quỹ vaccine phòng COVID-19.
                    Nội dung công văn nêu rõ, nhằm góp phần tạo thuận lợi cho các tổ chức, cá nhân đóng góp, hỗ trợ Quỹ vaccine phòng COVID-19, qua đó thể hiện tinh thần trách nhiệm, 
                    chia sẻ của ngành ngân hàng trong bối cảnh cả nước chung tay phòng, chống dịch COVID-19, Ngân hàng Nhà nước đề nghị các tổ chức tín dụng, chi nhánh ngân hàng nước ngoài khẩn trương xem xét, 
                    triển khai áp dụng chính sách miễn phí đối với các giao dịch chuyển tiền của các tổ chức, cá nhân tới các số tài khoản tiếp nhận tiền đóng góp cho Quỹ vaccine phòng COVID-19.
                </p>
                <a href="http://baochinhphu.vn/Kinh-te/Mien-phi-chuyen-tien-ung-ho-Quy-vaccine-phong-COVID19/433263.vgp" class="btn shop mt-4">More Information</a>
            </div>
        </div>
    </div>
</section>
<!-- /banner-bottom -->




