
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="banner-bottom py-5">
    <div class="container py-md-5">
        <h2 class="mb-lg-5 mb-4 text-center" style="font-family: 'Times New Roman'; color: #ed1227"><span>Contact us here: </span></h2>
        <div class="row contact_information">
            <div class="col-md-6">
                <div class="contact_right p-lg-5 p-4">
                    <form action="#" method="post">
                        <div class="field-group">
                            <div class="text-center">
                                <h3 style="font-family: 'Times New Roman'; color: #2a98eb; font-style: italic">From you</h3>
                            </div>
                            <div class="content-input-field">
                                <input name="YourName" id="txtYourName" type="text" value="" placeholder="Your Name..." required="">
                            </div>
                        </div>
                        <div class="field-group">

                            <div class="content-input-field">
                                <input name="Email" id="txtEmail" type="email" value="" placeholder="Email" required="">
                            </div>
                        </div>
                        <div class="field-group">

                            <div class="content-input-field">
                                <input name="Phone" id="txtPhone" type="text" value="" placeholder="Phone number" required="">
                            </div>
                        </div>
                        <div class="field-group">
                            <div class="content-input-field">
                                <textarea placeholder="Your message here...." id="txtMessage" required=""></textarea>
                            </div>
                        </div>
                        <div class="content-input-field" style="font-family:'Times New Roman', Times, serif">
                            <button type="submit" class="btn" id="btnSendMess">OK</button>
                        </div>

                    </form>
                </div>
            </div>
            <div class="col-md-6 contact_left p-4">
                <div class="text-center">
                    <h3  style="font-family:'Times New Roman'; color:#2a98eb; font-style:italic">We</h3>
                </div>
                <div class="text-center">
                    <h4 style="font-family:'Times New Roman'; font-display:inherit">Email: veganfood@gmail.com</h4>
                    <h4 style="font-family:'Times New Roman'; font-display:inherit">Phone: 0989104021</h4>
                    <h4 style="font-family:'Times New Roman'; font-display:inherit">Address: số 1, Đường 2, Phường 4, Quận A, HCM</h4>
                </div>
            </div>
            <div class="container mt-5">
                <div class="text-center">
                    <a class="text-info h3">Thank you for your idea!</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//contact -->
