@model DAO.Model.Food

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/Content/css/bootstrap.css">
<link rel="stylesheet" href="~/Content/css/style.css" type="text/css" media="all">
<link href="~/Content/css/font-awesome.css" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Hind:300,400,500,600,700" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>


<!--Food-->
<section class="banner-bottom py-5">
    <div class="container py-md-3">
        <div class="row">
            <div class="col-lg-9 gal-img text-center">
                <a href="/food-detail/@Model.IdFood">
                    <img src="@Html.DisplayFor(model => model.ImgFood)" alt="" style="height: 500px; width: 800px" />
                </a>
            </div>
            <div class="col-lg-3 ab-content text-center p-lg-5 p-3 my-lg-5 mt-2">
                <div class="position-absolute top-50 start-50 translate-middle">
                    <a class="h2 text-success" href="/food/">
                        Food
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
                            </svg>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Drink-->
@{
    Html.RenderAction("Drink", "HomeCustom");
}
<!-- /drink -->
<!--/combo -->
@{
    Html.RenderAction("ComboTop", "HomeCustom");
}
<!-- //Combo-->
<!--about-->
<section class="collections">
    <div class="container py-md-5">
        <h3 class=" text-center" style=" color: #087990">Why is "Food for you, happiness for all"?</h3>
        <p class="text-center">
            A vegan lifestyle can support incredible health and protect huge numbers of animals, environment, while simultaneously combating climate change.
            Plus, the food is insanely delicious and becomes more widely available every year. And we decided to combine vegetarianism and sharing difficulties
            together and launched a fund to support the activities and organizations that are currently taking place.
        </p>
        <div class="text-center">
            <a href="@Url.Action("About", "HomeCustom")" aria-hidden="true" style="color:#686565; display:block;">
                Let's see more!
            </a>
        </div>
    </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
