
@{
    ViewBag.Title = "Drink";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/css/food.css">
<link rel="stylesheet" href="~/Content/css/style.css">


<div class="container-fluid py-lg-3">
    <div>
        <div class="d-md-flex">
            <div class="col-md-3 gal-img">
                <div class="food-info">
                    <div class="men-thumb-item">
                        <a href="~/Drink/DrinkDetail"><img src="~/Content/images/cantaydrink.jpg" class="img-fluid" alt=""></a>
                    </div>
                    <div class="text-center">
                        <h4 class="cate">
                            <a href="~/Drink/DrinkDetail">celery juice</a>
                        </h4>

                        <div class="product_price">
                            <div>
                                <span class="price">$1</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-3 gal-img">
                <div class="food-info">
                    <div class="men-thumb-item">
                        <img src="~/Content/images/cantaydrink.jpg" class="img-fluid" alt="">

                    </div>
                    <div class="text-center">
                        <h4 class="cate">
                            <a href="single.html">Red pomegranate salad</a>
                        </h4>

                        <div class="product_price">
                            <div>
                                <span class="price">$1</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-3 gal-img">
                <div class="food-info">
                    <div class="men-thumb-item">
                        <img src="~/Content/images/cantaydrink.jpg" class="img-fluid" alt="">

                    </div>
                    <div class="text-center">
                        <h4 class="cate">
                            <a href="single.html">Red pomegranate salad</a>
                        </h4>

                        <div class="product_price">
                            <div>
                                <span class="price">$1</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-3 gal-img">
                <div class="food-info">
                    <div class="men-thumb-item">
                        <img src="~/Content/images/cantaydrink.jpg" class="img-fluid" alt="">

                    </div>
                    <div class="text-center">
                        <h4 class="cate">
                            <a href="single.html">Red pomegranate salad</a>
                        </h4>

                        <div class="product_price">
                            <div>
                                <span class="price">$1</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-md-flex mt-3">
            <div class="col-md-3 gal-img">
                <div class="food-info">
                    <div class="men-thumb-item">
                        <a href="~/Dink/DrinkDetail"><img src="~/Content/images/cantaydrink.jpg" class="img-fluid" alt=""></a>
                    </div>
                    <div class="text-center">
                        <h4 class="cate">
                            <a href="~/Dink/DrinkDetail">Red pomegranate salad</a>
                        </h4>

                        <div class="product_price">
                            <div>
                                <span class="price">$1</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-3 gal-img">
                <div class="food-info">
                    <div class="men-thumb-item">
                        <img src="~/Content/images/cantaydrink.jpg" class="img-fluid" alt="">

                    </div>
                    <div class="text-center">
                        <h4 class="cate">
                            <a href="single.html">celery juice</a>
                        </h4>

                        <div class="product_price">
                            <div>
                                <span class="price">$1</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-3 gal-img">
                <div class="food-info">
                    <div class="men-thumb-item">
                        <img src="~/Content/images/cantaydrink.jpg" class="img-fluid" alt="">

                    </div>
                    <div class="text-center">
                        <h4 class="cate">
                            <a href="single.html">celery juice</a>
                        </h4>

                        <div class="product_price">
                            <div>
                                <span class="price">$1</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-3 gal-img">
                <div class="food-info">
                    <div class="men-thumb-item">
                        <img src="~/Content/images/cantaydrink.jpg" class="img-fluid" alt="">

                    </div>
                    <div class="text-center">
                        <h4 class="cate">
                            <a href="single.html">celery juice</a>
                        </h4>

                        <div class="product_price">
                            <div>
                                <span class="price">$1</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

