
@{
    ViewBag.Title = "FoodView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/css/food.css">
<link rel="stylesheet" href="~/Content/css/style.css">


    <div class="container-fluid py-lg-3">
        <div>
            <div class="d-md-flex">
                <div class="col-md-3 gal-img">
                    <div class="food-info">
                        <div class="men-thumb-item">
                            <a href="~/Food/FoodDetail"><img src="~/Content/images/saladluudo.jpg" class="img-fluid" alt=""></a>
                        </div>
                        <div class="text-center">
                            <h4 class="cate">
                                <a href="~/Food/FoodDetail">Red pomegranate salad</a>
                            </h4>

                            <div class="product_price">
                                <div>
                                    <span class="price">$2</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 gal-img">
                    <div class="food-info">
                        <div class="men-thumb-item">
                            <img src="~/Content/images/saladluudo.jpg" class="img-fluid" alt="">

                        </div>
                        <div class="text-center">
                            <h4  class="cate">
                                <a href="single.html">Red pomegranate salad</a>
                            </h4>

                            <div class="product_price">
                                <div>
                                    <span class="price">$2</span>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-3 gal-img">
                    <div class="food-info">
                        <div class="men-thumb-item">
                            <img src="~/Content/images/saladluudo.jpg" class="img-fluid" alt="">

                        </div>
                        <div class="text-center">
                            <h4 class="cate">
                                <a href="single.html">Red pomegranate salad</a>
                            </h4>

                            <div class="product_price">
                                <div>
                                    <span class="price">$2</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 gal-img">
                    <div class="food-info">
                        <div class="men-thumb-item">
                            <img src="~/Content/images/saladluudo.jpg" class="img-fluid" alt="">

                        </div>
                        <div class="text-center">
                            <h4 class="cate">
                                <a href="single.html">Red pomegranate salad</a>
                            </h4>

                            <div class="product_price">
                                <div>
                                    <span class="price">$2</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="d-md-flex mt-3">
                <div class="col-md-3 gal-img">
                    <div class="food-info">
                        <div class="men-thumb-item">
                            <img src="~/Content/images/saladluudo.jpg" class="img-fluid" alt="">

                        </div>
                        <div class="text-center">
                            <h4 class="cate">
                                <a href="single.html">Red pomegranate salad</a>
                            </h4>

                            <div class="product_price">
                                <div>
                                    <span class="price">$2</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 gal-img">
                    <div class="food-info">
                        <div class="men-thumb-item">
                            <img src="~/Content/images/saladluudo.jpg" class="img-fluid" alt="">

                        </div>
                        <div class="text-center">
                            <h4 class="cate">
                                <a href="single.html">Red pomegranate salad</a>
                            </h4>

                            <div class="product_price">
                                <div>
                                    <span class="price">$2</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 gal-img">
                    <div class="food-info">
                        <div class="men-thumb-item">
                            <img src="~/Content/images/saladluudo.jpg" class="img-fluid" alt="">

                        </div>
                        <div class="text-center">
                            <h4 class="cate">
                                <a href="single.html">Red pomegranate salad</a>
                            </h4>

                            <div class="product_price">
                                <div>
                                    <span class="price">$2</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 gal-img">
                    <div class="food-info">
                        <div class="men-thumb-item">
                            <img src="~/Content/images/saladluudo.jpg" class="img-fluid" alt="">

                        </div>
                        <div class="text-center">
                            <h4 class="cate">
                                <a href="single.html">Red pomegranate salad</a>
                            </h4>

                            <div class="product_price">
                                <div>
                                    <span class="price">$2</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
