
@{
    ViewBag.Title = "Signout";
    Layout = "~/Views/Shared/_Layout.cshtml";


}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="~/Content/css/bootstrap.css">
<link href="~/Content/css/login.css" rel="stylesheet" />


<div class="login-wrap mt-5 body">
    <div class="text-center" style="font-family: 'Times New Roman'; color: #002f6c; font-size: 30px; padding: 50px 70px 30px 70px;">
        <label>Your Infomation</label>
    </div>
    @using (Html.BeginForm("Signup", "Signin", FormMethod.Post))
    {
<div class="login-form">
    <div class="group">
        <label for="name" class="label">Full name</label>
        <input id="fullname" type="text" class="input">
    </div>
    <div class="group">
        <label for="address" class="label">Address</label>
        <input id="address" type="text" class="input">
    </div>
    <div class="group">
        <label for="phone" class="label">Phone</label>
        <input id="phone" type="text" class="input">
    </div>
    <div class="group">
        <label for="email" class="label">Email</label>
        <input id="email" type="email" class="input">
    </div>
    <div class="group">
        <input type="submit" class="button" value="Done">
    </div>
    <div class="hr"></div>
    <div class="text-center">
        <a href="/Signin/Signin">
            Already Member?
        </a>
    </div>
</div>
    }
</div>
