@model IEnumerable<DAO.Model.ComboDrinkDetail>

@{
    ViewBag.Title = "ComboDrink";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/css/admin.css" />

<div class="container-fluid">
    @section titlepage{
        Combo drink detail Page
    }
    <div class="mt-2 mb-3">
        @Html.ActionLink("Insert new detail", "InsertComboDrink", "ComboDetail")
    </div>
    <div class="row">
        <table class="table table-bordered">
            <thead class="text-center">
                <tr>
                    <th>Id Combo</th>
                    <th>Id Drink</th>
                    <th>Price ($)</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.IdCombo</td>
                        <td>@item.IdDrink</td>
                        <td>@item.Price</td>
                        <td><a href="~/Admin/ComboDetail/DeleteComboDrink/@item.IdDrink">Delete</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

