
@{
    ViewBag.Title = "ErrorPermission";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>ErrorPermission: you don't have permission to login in this areas</h2>
<a>@Html.ActionLink("Back to Home","CustonIndex", "HomeCustom", null, null)</a>
