@using PagedList.Mvc;
@model PagedList.PagedList<DAO.Model.Foundation>

@{
    ViewBag.Title = "FoundationIndex";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/css/admin.css" />
<link rel="stylesheet" href="~/Content/PagedList.css" />


<div class="container-fluid">
    @section titlepage{
        Foundation Page
    }
    <div class="container-fluid">
        <table class="table table-bordered text-center mr-2 ml-2">
            <thead>
                <tr style="background: #ebffff ">
                    <th>Serial</th>
                    <th>Foundation Name</th>
                    <th>Total Cash</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.IdFound</td>
                        <td>@item.FoundationName</td>
                        <td>@item.TotalCash</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @Html.PagedListPager(Model, page => Url.Action("FoundationIndex", new { page }))
</div>


