
@using PagedList.Mvc;
@model PagedList.PagedList<DAO.Model.Comment>

@{
    ViewBag.Title = "ViewComment";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/css/admin.css" />
<link rel="stylesheet" href="~/Content/PagedList.css" />

<div class="container-fluid">
    @section titlepage{
        Comment view Page
    }
    <div class="row">
        <table class="table table-bordered text-center">
            <thead>
                <tr>
                    <th>Id Product</th>
                    <th>Comments</th>
                    <th>Id User</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.IdProduct</td>
                        <td>@item.Comments</td>
                        <td>@item.IdAcc</td>
                    </tr>
                }
            </tbody>
        </table>
        @Html.PagedListPager(Model, page => Url.Action("ViewComment", new { page }))
    </div>
</div>

